.buttonContainer {
    display: flex;
    gap: 1.4rem;
    margin: 1.5rem 0 0.75rem 0;
}

.tasksContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}

.filterbarContainer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

.filterbarContainer.open {
    overflow: visible;;
    max-height: 5rem;
}

.titleContainer {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.titleContainer .title {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.titleContainer .title > svg {
    color: var(--text-secondary);
}

.titleContainer .titleInput {
    padding: 0;
    background-color: transparent;
    border: none;
    outline: none;
    width: auto;
    max-width: 30rem;;
}