@import "/src/styles/variables/index.css";

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.buttonContainer {
    display: flex;
    gap: 1.4rem;
    margin: 1.5rem 0 0.75rem 0;
}

.tasksContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}

.filterbarContainer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

.filterbarContainer.open {
    overflow: visible;
    max-height: 13rem;
}

@media (--tablet) {
    .buttonContainer {
        margin: 1.2rem 0 0.5rem 0;
    }

    .tasksContainer {
        gap: 0.75rem;
        margin-top: 0.75rem;
    }
}