@import "/src/styles/variables/index.css";

.filterbar {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	padding: 0.75rem 1rem;
	background-color: var(--card);
	border: 1px solid var(--border);
	border-radius: 0.5rem;
	flex-wrap: wrap;
	gap: 1rem;
}
  
.searchContainer {
	position: relative;
	display: flex;
	align-items: center;
	width: 15rem;;
}
  
.searchIcon {
	position: absolute;
	left: 12px;
	color: var(--text-secondary);
	font-size: 16px;
	display: flex;
	align-items: center;
}
  
.searchInput {
	width: 100%;
	padding: 0.22rem 0.5rem 0.22rem 2rem;
	border-radius: 0.5rem;
	border: 1px solid var(--border);
	background-color: var(--card);
	color: var(--text);
	transition: border-color 0.2s ease;
	font-weight: 500;
}
  
.searchInput::placeholder {
	color: var(--text-secondary);
	opacity: 0.7;
}
  
.clearButton {
	position: absolute;
	right: 8px;
	background: none;
	border: none;
	color: var(--text-secondary);
	font-size: 18px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
}
  
.clearButton:hover {
	color: var(--text);
}
  
.filtersContainer {
	display: flex;
	flex-direction: row;
	gap: 0.75rem;
	flex: 1;
}
  
.statusDropdown, .labelDropdown {
	width: 11rem;
}

.clearFilterButton {
	padding: 0.2rem 0.5rem;
	background-color: var(--red-low-opacity) !important;
	border: 1px solid var(--danger) !important;
	transition: all 0.2s ease;
}

.clearFilterButton:hover {
	scale: 1 !important;
	
}

.clearFilterButton > svg {
	width: 1.2rem;
	height: 1.2rem;
}

.datePickerInput {
	padding: 0.22rem 1.8rem 0.22rem 2rem;
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;
    font-weight: 500;
	border: 1px solid var(--border);
	min-height: auto;
	border-radius: 0.5rem;
	line-height: 1.3;
	width: 12rem;
	background-color: var(--card);
	color: var(--text);
}

.datePickerInput:has(span) {
	padding-right: 0.5rem;
}

.datePickerPlaceholder {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 500;
	color: var(--text);
}

.firstPartContainer .clearFilterButton {
	display: none;
}

@media (--PC-XL) {
	.filterbar {
		display: flex;
		flex-direction: column;
		gap: 0.75rem;
	}

	.clearFilterButton {
		display: none;
	}

	.firstPartContainer {
		display: flex;
		flex-direction: row;
		gap: 1rem;
		width: 100%;
		justify-content: space-between;
	}

	.firstPartContainer .searchContainer {
		flex: 1;
		max-width: 30rem;
	}

	.firstPartContainer .clearFilterButton {
		display: flex;
	}

	.filtersContainer, 
	.filtersContainer > * {
		flex: 1;
		width: 100%;
		min-width: 10.5rem;
	}

	.datePickerInput {
		width: 100%;
	}

	.filtersContainer {
		gap: 1.5rem;
		flex-wrap: wrap;
		row-gap: 0.75rem;
	}
}

@media (--PC-low) {
	.datePickerInput, 
	.datePickerPlaceholder {
		font-size: 0.9rem;
	}
}

@media (--mobile-L) {
	.firstPartContainer .clearFilterButton {
		display: none;
	}

	.datePickerInput, 
	.datePickerPlaceholder {
		font-size: 0.75rem;
	}

	.clearFilterButton {
		align-self: flex-end;

		display: flex;
		align-items: center;
	}

	.clearFilterButton svg {
		width: 1rem;
		height: 1rem;
	}
}