@import "/src/styles/variables/index.css";

.drawer {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--drawer-width);
    height: 100%;
    background-color: var(--background);
    border-right: 1px solid var(--border);
    transition: transform 0.3s ease-in-out;
    z-index: 100;

    display: flex;
    flex-direction: column;
}

.header {
    padding: 0.8rem 1.25rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: space-between;
    border-bottom: 1px solid var(--border);
}

.logoApp {
    display: flex;
    align-items: center;
}

.logoApp span {
    width: 2rem;
    height: 2rem;
}

.logoText {
    margin-left: 10px;
    font-size: 1.1rem;
}

.headerButton {
    background: none;
    border: 1px solid var(--border);
    cursor: pointer;
    color: var(--text);

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0.35rem;
    border-radius: 10px;

    width: 2.1rem;
    height: 2.1rem;

    transition: opacity 0.2s;
}

.headerButton.openToggle {
    display: none;
}

.headerButton:hover {
    opacity: 0.6;
}

.headerButton svg{
    width: 100%;
    height: 100%;
}

.body {
    flex-grow: 1;
    padding: 1rem 0.6rem;
    overflow-y: auto;
}

.linksGroup {
    margin-bottom: 0.75rem;
    display: flex;
    flex-direction: column;
}

.groupLabel {
    margin: 0 0 0.25rem 0.75rem;
    color: var(--text-secondary);
}

.drawerItem {
    display: flex;
    align-items: center;
    padding: 0.3rem 0.7rem;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.drawerItem:hover {
    background-color: var(--border);
}

.drawerItem.active {
    color: var(--primary);
}

.drawerItem.active .label {
    color: var(--primary);
    font-weight: 600;
}

.drawerItemLeft {
    width: 100%;
    display: flex;
    align-items: center;
}

.drawerItem .iconContainer {
    margin-right: 1rem;
    width: 1.3rem;
    height: 1.3rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.drawerItem .iconContainer > svg {
    width: 100%;
    height: 100%;
}

.drawerItem .label {
    max-width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: color 0.3s;
}

.drawerItemRight {
    margin-left: auto;
}

.emptyLabel {
    color: var(--gray);
    font-style: italic;
    margin-left: 1rem;;
}

.circleDot {
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 0.4rem;
}

@media (--PC-low) {
    .logoText {
        font-size: 1.05rem;
    }

    .headerButton {
        width: 2rem;
        height: 2rem;
    }

    .logoApp span {
        width: 1.8rem;
        height: 1.8rem;
    }

    .drawerItem .iconContainer {
        width: 1.15rem;
        height: 1.15rem;
    }
}

@media (--PC-low) {
    .header {
        padding: 0.6rem 1rem;
    }

    .logoText {
        font-size: 1rem;
    }

    .drawer {
        transform: translateX(-100%);
        transition: all 0.4s ease-in;
    }

    .drawer.open {
        transform: translateX(0);
    }

    .headerButtonsContainer {
        display: flex;
        gap: 0.5rem;
    }

    .headerButton.openToggle {
        display: flex;
    }

    .openToggle {
        transition: transform 0.3s ease-out;
        transition-delay: 0.1s;
        transform: scale(1);
    }

    .openToggle.toOpen {
        transform: translateX(4rem) scale(1.15);
    }

    .openToggle svg {
        transition: all 0.3s ease-out;
        transition-delay: 0.1s;
    }

    .openToggle.toOpen svg {
        rotate: 180deg;
    } 
}