.taskTile {
    display: flex;
    gap: 0.5rem;
    padding: 0.6rem;
    border-radius: 0.6rem;
    transition: all 0.2s ease-in-out;
    position: relative;

    box-shadow: none !important;
}

.taskTile:hover {
    transform: translateY(-0.1rem);
    cursor: pointer;
}

.taskTile.checked {
    background-color: var(--teal-low-opacity);
}

.middlePart {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.middlePart h3 {
    font-size: 1.1rem;
    margin: 0.18rem 0;
}

.middlePart .dateContainer {
    color: var(--text-secondary);
    opacity: 0.9;
    font-weight: 500;
    font-size: 0.9rem;

    display: flex; 
    gap: 0.3rem;

    margin-top: 0.3rem;
}

.middlePart .dateContainer:global(.overdue) {
    color: var(--danger);
}
.middlePart .dateContainer:global(.today) {
    color: var(--warning);
}

.dateContainer > svg {
    vertical-align: middle;
}

.rightPart {
    display: flex;
    gap: 3.5rem;
    align-items: flex-start;
    margin-right: 0.5rem;
}

.rightPart .statusDropdown {
    width: 9.5rem;
}

.rightPart .labelDropdown {
    width: 9.5rem;
}

.rightPart .dropdownContainer {
    display: flex;
    gap: 0.3rem;
    flex-direction: column;
}

.rightPart .dropdownContainer > p {
    font-size: 0.75rem;
    color: var(--text-secondary);
    opacity: 0.8;
    font-weight: 500;
}

.taskTile .dragIndicatorContainer {
    position: absolute;
    top: 50%;
    left: -2.0rem;
    transform: translateY(-50%);
    color: var(--border);
    padding: 0.2rem;
    padding-right: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
}

.taskTile:hover .dragIndicatorContainer {
    opacity: 1;
}