@import "/src/styles/variables/index.css";

.form {
    display: flex;
    flex-direction: column;
}

.titleInput {
    border: none;
    outline: none;
    margin: 0 0 1rem 0 !important;
    background-color: transparent;;
}

.titleInput::placeholder {
    opacity: 0.5;
}

.descriptionTextarea {
    border: none;
    outline: none;
    margin-top: 0;
    max-height: 10rem;
    min-height: 5rem;
    background-color: transparent;
}
      
.formGroup {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 0.3rem;
}

.formGroup.horizontal {
    flex-direction: row;
    gap: 2rem;
    align-items: center;
}
    
.datePickerInput {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
    font-weight: 500;
    border: none;
    background-color: transparent;
}

.datePickerPlaceholder {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: var(--text);
}

.statusDropdown {
    margin-left: 2.1rem;
}

.labelDropdown {
    margin-left: 2.5rem;
    max-width: 10rem;
}

.buttonGroup {
    display: flex;
    justify-content: flex-end;
    margin-top: 0.5rem;
    gap: 1rem;
}
    
.deleteButton {
    background-color: var(--danger) !important;
    color: white;
}

@media (--PC-low) {
	.datePickerInput, 
	.datePickerPlaceholder {
		font-size: 0.9rem;
	}
}

@media (--mobile-L) {
	.datePickerInput, 
	.datePickerPlaceholder {
		font-size: 0.75rem;
	}

    .titleInput {
        margin: 0 0 0.5rem 0 !important;
    }
}