/* 
    mobile-S: 320px;
    mobile-M: 375px;
    mobile-L: 425px;
    tablet: 768px;
    PC-low: 1024px;
    PC-high: 1280px;
    PC-XL: 1440px;
*/

.App {
    --drawer-width: 16rem;

    max-width: 100vw;
    min-height: 100vh;
    padding-left: var(--drawer-width);

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--background);
}

.page-container {
    max-width: 1200px;
    width: 100%;
    padding: 3rem 4rem;
}